@font-face {
    font-family: 'Dumbledor';
    src: url(./Dumbledor-2.ttf.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Lato:wght@400;700;900&family=Raleway:wght@400;500;600;650;800&family=Roboto:wght@500;700&display=swap');
:root {
    color: #387c04;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fdfefb;
    margin: 0;
    height: 3000px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    font-family: 'Raleway';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #73568d;
    font-size: 14px;
    gap: 30px;
    background-color: #fdfefb;
    width: 100vw;
    box-shadow: 4px 1px 0px 4px rgba(0, 0, 0, 20%);
    z-index: 2;
}

.logoGroup {
    display: flex;
    cursor: pointer;
    font-family: 'Dumbledor';
    color: #387c04;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    width: auto;
    gap: 10px;
    text-transform: capitalize;
}

 .logo {
    width: 60px;
    height: 60px;
}

.header .link1,.header .link2,.header .link3,.header .link4, .header .link5 {
    position: relative;
    cursor: pointer;
  }

.leftLinkGroup,
.rightLinkGroup {
    display: flex;
    gap: 20px;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.rightLinkGroup {
    justify-content: flex-start;
}

.header .leftLinkGroup,
.header .rightLinkGroup {
    transform: translateY(50%);
}

.link {
    position: relative;
    cursor: pointer;
}

.leftLinkGroup .link1::before,
.leftLinkGroup .link2::before,
.leftLinkGroup .link3::before {
    background-color: #73568d;
}

.rightLinkGroup .link4::before,
.rightLinkGroup .link5::before {
    background-color: #73568d;
}

.link:first-child::before {
    display: none;
}

.link:last-child::before {
    height: 50%;
}


.link:not(:last-child)::after {
    height: 100%;
}

.link:hover {
    color: #387c04;
}

.hero {
    width: 100vw;
    height: 105vh;
}

.heroImg {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./hero.jpeg);
    background-position-y: 40%;
    background-size: cover;
    object-fit: scale-down;
    width: 100vw;
    height: 105vh;
}

.header2 {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fdfefb;
    font-family: 'Raleway';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #73568d;
    font-size: 14px;
    width: 100vw;
    top: 0;
    gap: 30px;
    opacity: 0; /* Initially set the opacity to 0 */
    transition: opacity 0.3s ease; /* Add transition effect */
    border: 1px solid violet;
    z-index: 2;
}

.header2.visible {
    opacity: 1;
  }

.logo2 {
    cursor: pointer;
    height: 25px;
}

.foodMenu {
    height: 80vh;
    width: 70vw;
    border: 1px solid black;
    margin-top: 10px;
}

.foodGif {
    height: 100vh;
    width: 70vw;
    border: 1px solid black;
    margin-top: px;
}