@font-face {
    font-family: 'Dumbledor';
    src: url(./Dumbledor-2.ttf.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Poppins:wght@200;300;500&family=Raleway:wght@600&display=swap');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fdfefb;
    margin: 0;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    font-family: 'Raleway';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #73568d;
    font-size: 14px;
    gap: 30px;
    background-color: #fdfefb;
    width: 100vw;
    box-shadow: 4px 1px 0px 4px rgba(0, 0, 0, 20%);
    z-index: 2;
}

.logoGroup {
    display: flex;
    cursor: pointer;
    font-family: 'Dumbledor';
    color: #387c04;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    width: auto;
    gap: 10px;
    text-transform: capitalize;
}

 .logo {
    width: 60px;
    height: 60px;
}

.header .link1,.header .link2,.header .link3,.header .link4, .header .link5 {
    position: relative;
    cursor: pointer;
  }

.leftLinkGroup,
.rightLinkGroup {
    display: flex;
    gap: 20px;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.rightLinkGroup {
    justify-content: flex-start;
}

.header .leftLinkGroup,
.header .rightLinkGroup {
    transform: translateY(50%);
}

.link {
    position: relative;
    cursor: pointer;
}

.leftLinkGroup .link1::before,
.leftLinkGroup .link2::before,
.leftLinkGroup .link3::before {
    background-color: #73568d;
}

.rightLinkGroup .link4::before,
.rightLinkGroup .link5::before {
    background-color: #73568d;
}

.link:first-child::before {
    display: none;
}

.link:last-child::before {
    height: 50%;
}


.link:not(:last-child)::after {
    height: 100%;
}

.link:hover {
    color: #387c04;
}

.hero {
    width: 100vw;
    height: 105vh;
}

.heroImg {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./hero.jpeg);
    background-position-y: 40%;
    background-size: cover;
    object-fit: scale-down;
    width: 100vw;
    height: 105vh;
}

.header2 {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fdfefb;
    font-family: 'Raleway';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #73568d;
    font-size: 14px;
    width: 100vw;
    top: 0;
    gap: 30px;
    opacity: 0; /* Initially set the opacity to 0 */
    transition: opacity 0.3s ease; /* Add transition effect */
    z-index: 2;
}

.header2.visible {
    opacity: 1;
  }

.logo2 {
    cursor: pointer;
    height: 25px;
}

.foodMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'oswald';
    padding-top: 20px;
    width: 1400px;
}

.menuHeader {
    text-align: center;
    font-family: 'oswald';
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 1000px;
    color: black;
    position: relative;
}

.menuHeader::before,
.menuHeader::after {
    content: "";
    position: absolute;
    top: 40%;
    width: 40%;
    height: 1px;
    background-color: black;
}

.menuHeader::before {
    left: 0;
}

.menuHeader::after {
    right: 0;
}

.menuBody {
    display: flex;
    align-items: center;
}

.dinnerMenu,
.lunchMenu,
.brunchMenu {
    display: flex;
    height: auto;
    width: 1000px;
    gap: 50px;
    padding-bottom: 30px;
}

.menuSideButtons {
    cursor: pointer;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: transform .3s;
    transform-origin: center center;
    margin: 50px;
}

.menuSideButtons:hover {
    transform: scale(1.2);
}

.dinnerMenu:hover .menuSideButtons {
    display: inline-block;
}

.dinnerMenu .menuLeft,
.dinnerMenu .menuCenter,
.dinnerMenu .menuRight,
.lunchMenu .menuLeft,
.lunchMenu .menuCenter,
.lunchMenu .menuRight {
    width: calc(100%/3);
}

.brunchMenu .menuLeft {
    width: calc(200%/3);
    gap: 50px;
}

.brunchMenu .menuLeft .category {
    margin-bottom: 0px;
}

.brunchMenu .menuRight {
    width: calc(100%/3);
}

.brunchMenu .menuLeft .columnGroup {
    display: flex;
    gap: 50px;
}

.columnGroupLeft,
.columnGroupRight {
    width: 50%;
}

.brunchMenu .menuRight .item{
    margin-bottom: 20px;
}

.category {
    color: #387c04;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

.item {
    display: flex;
    margin-top: 20px;
}

.menuRight .category .item {
    margin-top: 10px;
}

.menuRight .category .item:first-child,
.category:nth-child(2) {
    margin-top: 20px;
}

.dishGroup {
    justify-content: flex-start;
    text-align: left;
    color: #000000;
    width: 100%;
}

.dishGroupUpper {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    justify-content: space-between;
}

.name {
    display: flex;
    gap: 10px;
}

.allergins {
    padding-top: 1px;
    font-weight: 200;
    font-size: 10px;
}

.description {
    font-size: 12px;
    font-weight: 200;
    width: 80%;
    margin-top: 10px;
}

.price {
    justify-content: flex-end;
}

.menuFooter {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
    position: relative;
    width: 1000px;
    margin-bottom: 50px;
  }

.menuFooter::before,
.menuFooter::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 33%;
  height: 1px;
  background-color: black;
}

.menuFooter::before {
    left: 0;
}

.menuFooter::after {
    right: 0;
}

.foodImageContainer {
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
    margin: auto;
}

.foodImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.25s;
}
  
.foodImage.show {
opacity: 1;
}

@keyframes imageTransition {
0%, 33.33% {
    opacity: 0;
}
33.33%, 66.66% {
    opacity: 1;
}
66.66%, 100% {
    opacity: 0;
}
}